body {
    display: flex;
    flex-direction: column;
}
div {
    display:flex;
}
.header {
    padding: 8px 80px;
    justify-content: space-between;
}
.content {
    flex: auto;
    flex-direction: column;
}
.footer {
    justify-content: center;
    padding: 12px;
}
.header .right-links {
    gap: 8px;
}
.subheader {

}
.subheader .left {
    flex: 1;
    flex-direction: column;
}
.subheader .left .h1 {

}
.subheader .left .p {

}
.subheader .button {

}
.subheader .right {
    flex: 1;
    background-color: #ddd;
}
.section.info {
    flex-direction: column;
    align-items: center;
}
.cards {
    flex-direction: column;
    gap: 10px;
}
.card {
    width: 50px;
}
.cardimg {
    width: 50px;
    height: 50px;
}
.cardtext {
    flex-wrap: wrap;
}
