body {
    display: flex;
    flex-direction: column;
}
div {
    display:flex;
}
.header {
    padding: 8px 80px;
    justify-content: space-between;
}
.content {
    flex: auto;
    flex-direction: column;
}
.footer {
    justify-content: center;
    padding: 12px;
}
.header .right-links, 
.subheader .secondary, .footer {
    font-size: 18px;
    color: #e5e7eb;
}
.header .logo {
    font-size: 24px;
    color: #f9faf8;
}
.subheader .main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.header .right-links {
    gap: 8px;
}
.info-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}



.subheader {

}
.subheader .left {
    flex: 1;
    flex-direction: column;
}
.subheader .left .main {

}
.subheader .left .secondary {

}
.subheader .button {

}
.subheader .right {
    flex: 1;
    background-color: #ddd;
}
.section.info {
    flex-direction: column;
    align-items: center;
}
.cards {
    gap: 10px;
}
.card {
    width: 50px;
    flex-direction: column;
}
.cardimg {
    width: 50px;
    height: 50px;
    background-color: blue;
}
.cardtext {
    flex-wrap: wrap;
}
.quote {
    background-color: grey;
    padding: 50px;
    flex-wrap: wrap;
}
p.author {
    justify-self: end;
}
.section.bottom {
    padding: 40px;
    justify-content: space-evenly;
    background-color: white;
}
.section.bottom .call {
    padding: 20px;
}
.footer {
    align-items: center;
    justify-content: center;
}

.footer, .header, .subheader {
    background-color: #1f2937;
}
button,.call {
    background-color: #3882f6;
}
